@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lexend";
    src: url("/fonts/lexend/Lexend-Variable.ttf") format("truetype");
  }

  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
  }

  @font-face {
    font-family: "ABeeZee-Italic";
    src: url("/fonts/abeezee/ABeeZee-Italic.ttf") format("truetype");
  }

  body {
    @apply font-lexend;
  }

  button {
    @apply outline-none;
  }
}
